.main-content {
    padding-top:0;
}

* {
    transition: none!important;
}

/*.main-sidebar .sidebar-menu li.active a {*/
/*    background-color: revert;*/
/*    color:black;*/
/*    transition: transform 0.5s!important;*/
/*}*/

/*.main-sidebar .sidebar-menu li:not(.treeview) a:hover {*/
/*    transform: translateX(10px);*/
/*    transition: all 0.5s!important;*/
/*}*/

/*.main-sidebar .sidebar-menu li.bg-warning:hover a {*/
/*    color:black!important;*/
/*    background-color: #ffc107!important;*/
/*}*/

/*.main-sidebar .sidebar-menu li .treeview-menu a {*/
/*    font-weight: normal!important;*/
/*}*/
